<div class="best plugin ever">
  This is my {{ adjective }} template.

  {{! To include a partial: }}
  {{! just provide the path to the partial without the extension }}

  {{! the path can also be relative to the current template: }}
  {{> ./two }}
</div>